/* Woo styles.css */
.table-striped tbody tr {
    transition: background-color 0.3s;
}

.table-striped tbody tr.payment-card {
    background-color: #e0f7fa; /* Light blue */
}

.table-striped tbody tr.payment-cod {
    background-color: #f5f5f5; /* Light grey */
}

.table-striped tbody tr.payment-paypal {
    background-color: #f3e5f5; /* Light purple */
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Light grey on hover */
}